{{setTitle 'Create page'}}
<main class="create">
    <!-- create Page (Only for logged-in users) -->
    <section id="create">
        <div class="form">
            <h2>create Myth or Legend</h2>
            <form class="create-form" method="post">
                <input type="text" id="name" placeholder="Name" name="name" value='{{data.name}}' />
                <input type="text" id="origin" placeholder="Origin (e.g. Greek, Norse, Egyptian)" name="origin"
                    value='{{data.origin}}' />
                <input type="text" id="role" placeholder="Role" name="role" value='{{data.role}}' />
                <input type="text" id="myth-img" placeholder="Image URL" name="imageUrl" value='{{data.imageUrl}}' />
                <input type="text" id="symbol" placeholder="Symbol / Attribute" name="symbol" value='{{data.symbol}}' />
                <input type="text" id="era" placeholder="Era or Period" name="era" value='{{data.era}}' />
                <textarea id="description" placeholder="Description..."
                    name="description">{{data.description}}</textarea>
                <button type="submit">create</button>
            </form>

        </div>
    </section>
</main>